@import '../_tools/vars'
@import '../_tools/mixins'
  
body
  @media (max-width: 770px)
    overflow-x: hidden

.green-bg
  background-color: $bg-color-green

header
  p
    margin-bottom: 40px

// IMAGES

.vibe-img--rectangle
  display: inline-block
  position: relative
  background: $white
  width: 536px
  height: 358px
  clip-path: inset(9% 0 8% 0%)
  @media (max-width: 770px)
    width: 412px
    height: 275px
  img
    position: absolute
    top: 1px
    left: 1px
    width: 534px
    height: 355px
    clip-path: inset(9% 0 8% 0%)
    @media (max-width: 770px)
      width: 410px
      height: 273px
    

.vibe-img--triangle
  display: inline-block
  position: relative
  background: $white
  width: 410px
  height: 262px
  clip-path: polygon(50% 0%,0.3% 100%,99.7% 100%)
  img 
    position: absolute
    top: 2.5px
    left: 2px
    width: 406px
    height: 258px
    clip-path: polygon(50% 0%,0.3% 100%,99.7% 100%)
  @media (max-width: 1400px)
    margin-bottom: 35px
    
.vibe-img--circle
  display: inline-block
  position: relative
  background: $white
  width: 448px
  height: 298.2px
  clip-path: circle(148px at center)
  img 
    position: absolute
    top: 0px
    left: 0px
    width: 448px
    height: 298.2px
    clip-path: circle(147px at center)
    
.vibe-img--square
  display: inline-block
  position: relative
  background: $white
  width: 448px
  height: 296.8px
  clip-path: inset(0 20% 0% 17%)
  img 
    position: absolute
    top: 0px
    left: 0px
    width: 448px
    height: 296.8px
    clip-path: inset(1px calc(20% + 1px) 1px calc(17% + 1px))

.vibe-img--rectangle,
.vibe-img--circle,
.vibe-img--triangle,
.vibe-img--square
  img
    &:hover 
      opacity: 0.9

.vibe-img--rectangle,
.vibe-img--circle,
.vibe-img--triangle,
.vibe-img--square
  @media (max-width: 494px)
    transform: translate(-50%, -50%)
    position: absolute
    left: 50%
    top: 50%

.vibe-img--triangle
  @media (max-width: 494px)
    top: 40%

.column 
  @media (max-width: 494px)
    height: 210px