
/* ----------------------------------------------------------------------------
	Navigation Menu
----------------------------------------------------------------------------- */
#menutoggle {
	display: block;
	margin: 0;
	padding: 0 22px;
	width: auto;
	color: #fff;
	height: 45px;
	text-align: left;
	text-transform: uppercase;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 4px;
	transition: all 0.5s ease;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#menutoggle span {
    display: none;
}
#menutoggle:before {
	display: inline-block;
	margin-left: 0;
	width: 18px;
	height: 45px;
	line-height: 48px;
	color: inherit;
	font-family: 'icons';
	text-align: center;
	font-size: 21px;
	vertical-align: top;
}

#menutoggle:hover div, #menutoggle:active div, #menutoggle.is-active div {
	background-color: rgba(0, 0, 0, 0.9);
}


#menutoggle div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: all 0.5s ease;
}


#menutoggle { display: block; }

@media (max-width: 770px) {
#menutoggle {
    right: -37px;
    top: -27px;
  }
}

#nav {
    clear: both;
    margin: 0;
    width: 100%;
    height: 0;
    overflow: visible;
    position: relative;
    z-index: 1000;
    
}
#nav ul {
    float: none;
    display: block;
    margin: 0;
    width: auto;
    opacity: 0;
	  max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0, 0.7, 0, 1), opacity 0.2s ease-in-out;
    border-radius: 0 0 4px 4px;
    top: 7px;
    border: 0;
    position: relative;
}
#nav #menutoggle.is-active + ul {
  background: rgba(0, 0, 0, 0.9);
  max-height: 1000px;
	opacity: 1;
  transition: max-height 0.3s ease-in-out, opacity 0.25s ease-in-out;
  -webkit-padding-start: 0!important;;
}
#nav li {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}
#nav li:first-child {
    border-top: 0;
}
#nav li.onmobile {
	display: block;
}
#nav a{
    float: none;
    display: block;
    margin: 0;
    padding: 9px 20px;
    height: auto;
    color: #fff;
    line-height: 1.5em;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    border: 0;
    cursor: pointer;
  	transition: all 0.5s ease;
}

#nav h2 {
  visibility:hidden
}

#nav a:hover {
  font-weight: bold;
}

#nav li:last-of-type {
  border-bottom: 0;
}


@media (min-width: 992px) { 
    #menutoggle { 
      display: none; 
    }

    #nav {
        display: block;
        margin: 0;
        padding: 0 35px;
        width: auto;
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        height: auto;
        width: 400px;
        position: fixed;
        right: 0;
        top: 65px;
        z-index: 99;
        border: 0;
        border-radius: 4px;
    }
    #nav ul {
        display: table !important;
        float: left;
        width: 100%;
        height: auto;
        opacity: 1;
        margin: 0;
        position: relative;
        z-index: 10;
        top: 0;
        -webkit-padding-start: 0!important;;
        overflow: visible;
    }
    #nav li {
        margin: 0;
        padding: 0;
        width: auto;
        min-width: auto;
        position: relative;
        border-bottom: 1px solid #fff;
        overflow: visible;
    }
    #nav li:first-of-type {
        border-left: 0;
    }
    


    #nav li.last {
        border-right: 0;
    }
    #nav li.right {
        float: right;
        margin-right: 4px;
        border-right: 0;
    }
    #nav li.onmobile {
        display: none;
    }

    #nav a {
      padding: 20px 28px;
      font-size: 23px;
    }

    #nav a:hover,
    #nav a.is-active {
      font-weight: bolder;
    }

 
    #nav a.is-active:after {
      content:'';
      position: absolute;
      top: 50%;
      left: -35px;
      transform: translateY(-50%);
      margin: auto;
      width: 0;
      height: 0;
      border-left: solid 30px #fff;
      border-top: solid 30px transparent;
      border-bottom: solid 30px transparent;
    }

    #nav li:hover {
        z-index: 11;
    }

    nav h2 {
      padding: 10px 0 25px;
      border-bottom: 2px solid #fff;
      margin-bottom: 30px;
      visibility: visible!important;
    }

}

@media screen and (min-width:992px) and (max-width:1615px){
  #nav {
    width: 26% !important;
    padding-bottom: 10px;
  }

  nav h2 {
    font-size: 1.5rem;
  }

  #nav a{
    padding: 6px 14px;
    font-size: 19px;
    line-height: 1.3em;
  }

  #nav a.is-active:after {
    border-left: solid 20px #fff;
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
  }
}

@media screen and (min-width:992px) and (max-width:1149px) {

  #nav {
    padding: 0 26px;
  }
  nav h2 {
    font-size: 1.5rem;
    padding: 10px 0 16px;
    margin-bottom: 0;
  }

  #nav a.is-active:after {
    left: -26px;
  }

  #nav a {
    font-size: 16px;
  }

}

/* MODAL */

.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: -4px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: center;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-visible {
  overflow: hidden;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* max-width: 90%; */
  /* max-height: 90%; */
  padding-top: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #31d49c;
  color: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.modal-inner h2 {
  padding-bottom: 20px;
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 138px;
  top: 57px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 850px) {
  [data-modal-close] {
    right: 10px;
    top: 10px;
  }
}

[data-modal-close] img{
  width: 50px;
}

.modal-content img {
  max-width: 100%;
  border: 1px solid #fff;
}