@font-face {
  font-family: 'PassagewayLight';
  src: url('fonts/PassagewayLight.eot');
  src: url('fonts/PassagewayLight.eot?#iefix') format('embedded-opentype'),
      url('fonts/PassagewayLight.woff2') format('woff2'),
      url('fonts/PassagewayLight.woff') format('woff'),
      url('fonts/PassagewayLight.ttf') format('truetype'),
      url('fonts/PassagewayLight.svg#PassagewayLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PassagewayBd';
  src: url('fonts/PassagewayBd.eot');
  src: url('fonts/PassagewayBd.eot?#iefix') format('embedded-opentype'),
      url('fonts/PassagewayBd.woff2') format('woff2'),
      url('fonts/PassagewayBd.woff') format('woff'),
      url('fonts/PassagewayBd.ttf') format('truetype'),
      url('fonts/PassagewayBd.svg#PassagewayBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/OpenSans-Regular.eot');
  src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/OpenSans-Regular.woff2') format('woff2'),
      url('fonts/OpenSans-Regular.woff') format('woff'),
      url('fonts/OpenSans-Regular.ttf') format('truetype'),
      url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

