@mixin background-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin background-contain {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
@mixin flex-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}
@mixin no-select {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;    
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;  
}

@mixin gradient ($colorBottom, $colorTop) {
background-image: -moz-linear-gradient(top, $colorTop 0%, $colorBottom 100%); /* FF3.6-15 */
background-image: -webkit-linear-gradient(top, $colorTop 0%,$colorBottom 100%); /* Chrome10-25,Safari5.1-6 */
background-image: linear-gradient(to bottom, $colorTop 0%,$colorBottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$colorTop, endColorstr=$colorBottom,GradientType=0 ); /* IE6-9 */
}