@import '../_tools/vars'
@import '../_tools/mixins'
  

html
  font-size: 16px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

@media (max-width: 900px)
  html 
    font-size: 15px

*, *:before, *:after
  -webkit-box-sizing: inherit
  -moz-box-sizing: inherit
  box-sizing: inherit

body
  background-color: $bg-color-green
  font-size: 1rem
  line-height: 1.6
  font-family: $primary-font
  color: $font-color-dark
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

.container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  text-align: center
  @media (min-width: $medium-min) 
    // width: 750px
  @media (min-width: $large-min) 
    // width: 970px
    width: 75%
    margin-right: 25%
  @media (min-width: 1600px) 
    width: 1170px

.wrapper-fluid
  max-width: 100%
  max-height: 100%
  padding: 1.2em
  padding-bottom: 100px
  color: $font-color-light
  
.row
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  @media (max-width: 1540px)
    justify-content: left

.column 
  flex: 0 0 50%
  max-width: 50%
  @media (max-width: 1540px)
    flex: 0 0 40%
    max-width: 40%
  @media (max-width: 1400px)
    flex: 0 0 100%
    max-width: 100%
  @media (max-width: 494px)
    transform: scale(0.7)

.row-baseline
  align-items: baseline
  @media (max-width: 494px)
    align-items: center !important
    justify-content: center

.booking
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: initial !important

  .post 
    display: flex
    flex-flow: column wrap
    flex: 1 0 300px
    margin: 5px 10px
    background-color: $gray-light
    color: $black
    border-radius: 5px
    padding: 25px
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1)

    p 
      flex: 1
      color: $gray-light-font
      text-align: left
      clear: both

    h3
      text-align: left
      color: $font-color-dark
      flex: 0 0 60px

    a
      float: left
      text-align: left
      margin-bottom: 10px
      
    .btn
      text-align: center
      float: none
      margin: 40px auto 10px
      font-size: 1.2rem
      width: 220px