@import '../_tools/vars'
@import '../_tools/mixins'


.btn
  text-transform: uppercase
  font-weight: 700
  border-radius: 30px
  color: $white
  padding: 10px 50px
  background-color: #1181AB
  box-shadow: 0px 2px 4px 0px #5C5C5C
  text-decoration: none
  display: inline-block
  cursor: pointer
  margin-top: auto;

  &:hover,
  &:focus,
  &:active
    background: #1496C7 !important
    text-decoration: none
    color: $white !important


