@import '../_tools/vars'
  
::selection
  background: $selection-color
  color: $font-color-light

::-moz-selection
  background: $selection-color
  color: $font-color-light

img::selection
  background: transparent

img::-moz-selection
  background: transparent
