@import '../_tools/vars'
@import '../_tools/mixins'

//	Headings

h1, h2, h3, h4, h5, h6
  font-weight: bold
  font-family: $heading-font

h1
  font-size: 4.250rem
  line-height: 1.05
  letter-spacing: -1px
  margin: 1.5em 0

h2
  font-size: 2.250em
  line-height: 1.14
  margin: 0.5em 0

h3
  font-size: 1.375rem
  line-height: 1.38

h4
  font-size: 1.1rem
  line-height: 1.38

.small, small
  font-size: 0.625rem
  line-height: 1.2


// Basic Text Style

p
  margin: 0 0 1.250em 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 0.625em 0 1.875em
  height: 0
